<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="F:\data\programmazione\java\gae\appengine-java-sdk-1.9.73\bin\dev_appserver.cmd"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="--jvm_flag=-Dspring.profiles.active=dev &quot;F:\data\programmazione\java\gae\thymeleafexamples-stsm\thymeleaf-demo\target\thymeleaf-demo-0.0.1-SNAPSHOT&quot;"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="F:\data\programmazione\java\gae\appengine-java-sdk-1.9.73\bin\"/>
</launchConfiguration>
