<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="F:\data\programmazione\java\gae\appengine-java-sdk-1.9.73\bin\stop-dev_appserver.cmd"/>
</launchConfiguration>
