<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Register</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/stsm.css" th:href="@{/css/stsm.css}" />
</head>

<body>

	<div>
		<h1>Register</h1>
	</div>

	<div>
		<form action="#" th:action="@{/registeruser}"
			th:object="${userRegistration}" method="post">
			
			<div class="submit">
				<div>
					<label>forename</label>
					<input type="text" th:field="*{forename}" />
				</div>
				<div>
					<label>surname</label>
					<input type="text" th:field="*{surname}" />
				</div>
				<div>
					<button type="submit" name="register">Registrati</button>
				</div>
			</div>
		</form>
	</div>

</body>
</html>